* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.prefab{
    display: none !important;
}

html{
    height: 100%;
}

body {
    background-color: rgb(25, 25, 25);
    color: rgb(240, 240, 240);
    height: 100%;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
}

.music {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
}

.music-entry{
    width: 100%;
    height: 100px;
}

.control-button{
    width: 100%;
    min-width: 85px;
    height: 95px;
    background-color: rgb(45, 45, 45);
    align-content: space-around;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.track {
    width: 100%;
    height: 150px;
    /* margin: 5px; */
    /* border: 1px solid rgb(100, 100, 100); */
    background-color: rgb(45, 45, 45);
    /* border-radius: 8px; */
    align-content: center;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
}

.track-name{
    height: 95%;
    align-content: flex-start;
    justify-content: space-evenly;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 12px;
}

.track img.cover{
    border: 0px;
    width: 150px;
    height: 150px;
}

.track p.title{
    font-weight: 600;
    font-size: 200%;
    margin-top: 10px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.track p.author{
    opacity: 0.85;
    padding-top: 2px;
    font-size: 170%;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* align-self: flex-start;*/
}

.control-button div.icon{
    --ggs: 3;
}

.control-button.active{
    background-color: rgb(255,219,77);
    color: rgb(20, 20, 20);
}

.control-button:active{
    background-color: rgb(255,219,77);
    color: rgb(20, 20, 20);
}

.control-button.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.control-entry{
    display: flex;
    flex-direction: row;
    height: 150px;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-end;
    align-items: center;
}

.control-bottom{
    display: flex;
    flex-direction: row;
    height: 95px;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

.inline-btn{
    background-color: rgba(0,0,0,0.1);
    align-self: flex-end;
    padding: 0px !important;
    height: 100%;
    margin: 0px;
    border-left: 1px solid rgb(100, 100, 100);
}

.play-btn{
    width: 95px !important;
    min-width: 95px !important;
    border-radius: 0px !important;
    margin-left: auto !important;
    border-left: 0px;
}

#like-btn{
}

.control-entry.left{
    justify-content: flex-start;
}

.heart-icon{
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(calc(var(--ggs,1)/1.75));
}

.control {
    background-color:rgb(45, 45, 45);
    width: 100%;
    bottom: 0px;
    position: fixed;
    z-index: 9000;
}

.icon-175{
    --ggs: 1.75;
}

.icon-225{
    --ggs: 2.25;
}

#like-btn.active{
    color: rgb(253, 55, 55) !important;
}

#like-btn:active{
    color: rgb(253, 55, 55) !important;
}

#prev-btn{
    width: 90px;
    min-width: 90px;
}

#prev-btn div.icon{
    left: -10px;position: relative;
}

#next-btn div.icon{
    left: 10px;position: relative;
}

.playlist-button{
    width: 95px;
    min-width: 95px;
    background-size: cover;
}

.playlist-button:active{
    opacity: 0.5;
}

.playlist-root{
    height: calc(100% - 245px);
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 2px solid rgb(100, 100, 100);
}

.playlist{

}

.music-entry{
    height: 110px;
    background-color: rgb(45, 45, 45);
    border-bottom: 1px solid rgb(100, 100, 100);
    display: flex;
}

.music-entry.selected{
    background-color: rgba(255,219,77);
    color:rgb(20, 20, 20);
}

.music-entry div.track-name{
    height: 110px;
}

.music-entry div.track-name p.title{
    font-size: 160%;
    font-weight: 600;
}

.music-entry div.track-name p.author{
    font-size: 110%;
    font-weight: 300;
}

.music-entry img.cover{
    height: 110px;
    width: 110px;
    border: 0px;
}